<div class="extra-pagination">
	{{pagination}}
</div>

<section class="article-list">
	{{#foreach posts}}

	<article class="{{post_class}}">
		<div class="inner">
			<header class="post-header">
				<h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
				<div class="clear"></div>
			</header>
			<section class="post-excerpt">
				<p>{{content characters="360"}}&hellip;</p>
			</section>
			<a class="post-read-more" href="{{url}}">
				阅读全文
			</a>
		</div>
	</article>

	{{/foreach}}
</section>

{{pagination}}
